<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
      
      <h:head>
      	<title>Cadastro de Clientes</title>
      </h:head>
      
      <h:body>
      	<h2>Cadastro Cliente</h2>
      	
      	<h:form>
     		<!-- TAG messages da validação -->
      		<h:messages showDetail="true"/>
      		<h:outputText value="Insira os dados do cliente: "/>
      		<br/>
      		<h:panelGrid columns="2">
      			<h:outputLabel value="Nome: " for="nome" />
      			<h:inputText id="nome" value="#{cadastroClienteController.cliente.nome}"/>
      		
      			<h:outputLabel value="Idade: " for="idade"/>
      			<h:inputText id="idade" value="#{cadastroClienteController.cliente.idade}"/>
      		
      			<h:outputLabel value="CPF: " for="cpf"/>
      			<h:inputText id="cpf" value="#{cadastroClienteController.cliente.cpf}"/>
      		
      			<h:outputLabel value="Sexo: " for="sexo"/>
      			<h:selectOneMenu id="sexo" value="#{cadastroClienteController.cliente.sexo}"> 
      				<f:selectItem itemLabel="Selecione..."/>
      				<f:selectItem itemLabel="Masculino" itemValue="M"/>
      				<f:selectItem itemLabel="Feminino" itemValue="F"/>
      				<f:selectItem itemLabel="Outros" itemValue="O"/>
      			</h:selectOneMenu>      		  
      		</h:panelGrid>
      		<h:commandButton action="#{cadastroClienteController.cadastrarCliente}" value="Cadastrar"/>
      	</h:form>
      </h:body>
      
</html>