<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"      
      xmlns:h="http://java.sun.com/jsf/html">
	
    <h:head>
        <title>Curso Java</title>
    </h:head>
    <h:body>
    	<h2>Curso Java - Hello World</h2>
    	<h:form>
    		
    	   <h:inputText value="#{helloWorld.nome}"></h:inputText>
    	   <h:commandButton value="Olá" action="#{helloWorld.hello}"></h:commandButton><br/>
    	   <h:outputText value="#{helloWorld.message}"  rendered="#{helloWorld.message != ''}"></h:outputText>
    	   
    	</h:form>
    </h:body>
</html>
